# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignorar el entorno virtual
vehicles_env/

# Ignorar archivos temporales
__pycache__/
*.pyc

# Ignorar configuración de VS Code
.vscode/